@import 'variable';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

main {
  background-color: $dark-grey;
  color: $light-grey;
}
